# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
.env*.local

# Google credentials / Firebase / Service Accounts
google-services.json
GoogleService-Info.plist
service-account.json
firebase-adminsdk*.json
*.firebase.json

# secrets / keys
credentials.json
secret.json
keys.json

# typescript
*.tsbuildinfo